{% extends 'bootstrap/base.html' %}
<html>
    <head>
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
        {{ moment.lang(g.locale) }}

        {% block scripts %}
        {{ super() }}
            <script>
            function translate(sourceElem, destElem, sourceLang, destLang) {
                $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
                $.post('/translate', {
                    text: $(sourceElem).text(),
                    original_language: sourceLang,
                    target_language: destLang
                }).done(function(response) {
                    $(destElem).text(response['text'])
                }).fail(function() {
                    $(destElem).text("{{ _('Error: Could not contact server.') }}");
                });
            }
            </script>
        {% endblock %}

        {% block title %}
            {% if title %}
                {{title}} - Ridesharing
            {% else %}
                Welcome to ridesharing
            {% endif %}
             Ridesharing
            {{current_user.username}}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <nav class="navbar navbar-default">
            <div>
                <a href="{{url_for('main.index')}}">Home</a>
                {% if current_user.is_anonymous %}
                    <a href=" {{ url_for('auth.login') }} "> {{_('Login')}} </a>
                    <a href=" {{ url_for('auth.register') }} "> {{_('Register')}} </a>
                {% else %}
                    <a href=" {{ url_for('main.user', username=current_user.username) }} "> Profile </a>
                    <a href=" {{ url_for('main.create_car') }} "> {{_('Create Car')}} </a> <br>
                    <a href=" {{ url_for('ride.available_rides') }}"> {{_('Available rides')}} </a>
                    <a href=" {{ url_for('ride.create_ride') }}"> {{_('Create ride')}} </a> <br>
                    <a href=" {{ url_for('auth.logout') }} "> {{_('Logout')}} </a>
                {% endif %}
            </div>
        </nav>
        {% endblock %}
        <hr>
        {% block content %}
            <div class="container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block app_content %}
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
